<div ng-controller="MainController"	ng-init="populateGuide()" style="font-size: 1.1em; padding-top: 5px;" font-family: agency;">
	<div><img align="center" src="img/RequestSummary.PNG" alt="Request Summary"	style="width: 850px; height: auto;" ng-hide="hide1"> </div>
	<div class="col-md-12" style="text-align: center"> <a ng-click="navigateToFill()">
	<button class="btn btn-primary customSmallButton"
					style="background: #42AFE3; width: 135px !important; margin-top: 0em; margin-bottom: 7px;" ng-hide="hide1">Next</button></a></div>
	<div><img align="center" src="img/FillMatrix.PNG" alt="Fill Matrix"	style="width: 850px; height: auto;" ng-hide="hide2"> </div>
	<div class="col-md-12" style="text-align: center"> <a ng-click="navigateToResult()"><button class="btn btn-primary customSmallButton"
					style="background: #42AFE3; width: 135px !important; margin-top: 0em; margin-bottom: 7px;" ng-hide="hide2">Next</button></a></div>
	<div><img align="center" src="img/DisplayResult.PNG" alt="Under Maintenance"	style="width: 850px; height: auto;" ng-hide="hide3"> </div>
<div class="col-md-12" style="text-align: center"> <a ng-click="navigateToSummary()"><button class="btn btn-primary customSmallButton"
					style="background: #42AFE3; width: 135px !important; margin-top: 0em; margin-bottom: 7px;"ng-hide="hide3">Home</button></a></div>
</div>